<a href="https://colab.research.google.com/github/SamuelWanjiru/Twitter_sentiment_analysis/blob/main/TWITTER_SENTIMENT_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<font color='red'>🎯 TWITTER SENTIMENT ANALYSIS ~ HATE SPEECH RECOGNITION 😊🤬**

## **Connecting/mounting the google drive**

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### **IMPORTING NECESSARY LIBRARIES**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import model_selection, preprocessing, linear_model, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import ensemble
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from xgboost import XGBClassifier


import nltk
nltk.download('stopwords')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from textblob import Word
nltk.download('wordnet')

from termcolor import colored
from warnings import filterwarnings
filterwarnings('ignore')

from sklearn import set_config
set_config(print_changed_only = False)

print(colored("\nLIBRARIES WERE SUCCESFULLY IMPORTED...", color = "green", attrs = ["dark", "bold"]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

LIBRARIES WERE SUCCESFULLY IMPORTED...

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### **Loading the dataset from google drive**

In [5]:
train_set = pd.read_csv(r"/content/gdrive/My Drive/KAGGLE PROJECTS/Twitter Sentiment Analysis/Data/train.csv",
                   encoding = "utf-8",
                   engine = "python",
                   header = 0)

test_set = pd.read_csv(r"/content/gdrive/My Drive/KAGGLE PROJECTS/Twitter Sentiment Analysis/Data/test.csv",
                   encoding = "utf-8",
                   engine = "python",
                   header = 0)

**The first five rows of train set**

In [6]:
train_set.head(n = 5).style.background_gradient(cmap = "Oranges")

**The first five rows of test set**

In [7]:
test_set.head(n = 5).style.background_gradient(cmap = "Blues")

### **Understanding the data**

Shape of the train and test datasets

In [8]:
print("Train set shape: ",train_set.shape,"Test set shape: ",test_set.shape)

Train set shape:  (31962, 3) Test set shape:  (17197, 2)

Displaying more information about the train set

In [9]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

Checking whether there are any duplicate values

In [10]:
print("There are {} duplicate values in the train set".format(train_set.duplicated().sum()))

There are 0 duplicate values in the train set

Check the distribution of classess in the label variable

In [11]:
train_set.groupby("label").count().style.background_gradient(cmap = "summer")

## **Processing the dataset**

1. Converting uppercase letters to lowercase letters in the tweet column

In [12]:
train_set["tweet"] = train_set["tweet"].apply(lambda x: " ".join(x.lower() for x in x.split()))
test_set["tweet"] = test_set["tweet"].apply(lambda x: " ".join(x.lower() for x in x.split()))

print(colored("\nCONVERTED SUCCESFULLY..."))

CONVERTED SUCCESFULLY...

2. Deleting all punctuation marks in the tweet column

In [13]:
train_set["tweet"] = train_set["tweet"].str.replace('[^\w\s]','')
test_set["tweet"] = test_set["tweet"].str.replace('[^\w\s]','')

print(colored("\nDELETED SUCCESFULLY..."))

DELETED SUCCESFULLY...

3. Deleting numbers from the tweet column

In [14]:
train_set['tweet'] = train_set['tweet'].str.replace('\d','')
test_set['tweet'] = test_set['tweet'].str.replace('\d','')

print(colored("\n NUMBERS DELETED SUCCESFULLY..."))

 NUMBERS DELETED SUCCESFULLY...

4. Deleting stopwords from tweet column

In [15]:
sw = stopwords.words("english")
train_set['tweet'] = train_set['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
test_set['tweet'] = test_set['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

print(colored("\nSTOPWORDS DELETED SUCCESFULLY..."))

STOPWORDS DELETED SUCCESFULLY...

5. Lemmatization. Getting roots of the words in the tweet column

In [16]:
train_set['tweet'] = train_set['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
test_set['tweet'] = test_set['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()])) 

print(colored("\nDONE SUCCESFULLY..."))

DONE SUCCESFULLY...

6. Droping the id column

In [17]:
train_set = train_set.drop("id", axis = 1)
test_set = test_set.drop("id", axis = 1)

print(colored("\n'ID' COLUMNS DROPPED SUCCESFULLY..."))

'ID' COLUMNS DROPPED SUCCESFULLY...

### **Looking at the train & test set after cleaning**

In [18]:
train_set.head(n = 10)

   label                                              tweet
0      0  user father dysfunctional selfish drag kid dys...
1      0  user user thanks lyft credit cant use cause do...
2      0                                     bihday majesty
3      0              model love u take u time urð ðððð ððð
4      0                      factsguide society motivation
5      0  huge fan fare big talking leave chaos pay disp...
6      0  user camping tomorrow user user user user user...
7      0  next school year year examsð cant think ð scho...
8      0  love land allin cavs champion cleveland clevel...
9      0                            user user welcome im gr

In [19]:
test_set.head(n = 10)

                                               tweet
0  studiolife aislife requires passion dedication...
1  user white supremacist want everyone see new â...
2   safe way heal acne altwaystoheal healthy healing
3  hp cursed child book reservation already yes ð...
4  rd bihday amazing hilarious nephew eli ahmir u...
5                                     choose momtips
6  something inside dy ððâ eye ness smokeyeyes ti...
7  finishedtattooinkedinkloveitâï âïâïâïâï thanks...
8  user user user never understand dad left young...
9  delicious food lovelife capetown mannaepicure ...

### **Dividing the datasets**

In [20]:
x = train_set["tweet"]
y = train_set["label"]

train_x, test_x, train_y, test_y = model_selection.train_test_split(x, y, test_size = 0.20, shuffle = True, random_state = 11)

print(colored("\nDIVIDED SUCCESFULLY..."))

DIVIDED SUCCESFULLY...

## **Data Vectorization**

Word Embeddings or Word vectorization is a methodology in NLP to map words or phrases from vocabulary to a corresponding vector of real numbers which used to find word predictions, word similarities/semantics.

For more info, read[here](https://towardsdatascience.com/understanding-nlp-word-embeddings-text-vectorization-1a23744f7223)

1. **"Count Vectors" method**

In [21]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

x_train_tf_idf_word.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

2. **"TF-IDF" method**

In [ ]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

x_train_tf_idf_word.toarray()